# Xcode
build/
DerivedData/
*.xcuserstate
*.xcscmblueprint
*.xccheckout

# User-specific Xcode files
xcuserdata/
*.xcworkspace/xcuserdata/

# Xcode playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/
Carthage/Checkouts/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
iOSInjectionProject/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Archives
*.xcarchive

# Provisioning profiles
*.mobileprovision
*.provisionprofile

# Crash logs
*.crash

# App packaging
*.ipa
*.dSYM.zip
*.dSYM
